@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 208 34% 68%;
    --foreground: 0 0% 100%;

    --card: 208 34% 68%;
    --card-foreground: 0 0% 100%;

    --popover: 208 30% 75%;
    --popover-foreground: 0 0% 100%;

    --primary: 208 34% 68%;
    --primary-foreground: 0 0% 100%;

    --secondary: 208 30% 60%;
    --secondary-foreground: 0 0% 100%;

    --muted: 208 30% 75%;
    --muted-foreground: 0 0% 95%;

    --accent: 0 0% 100%;
    --accent-foreground: 208 34% 30%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 0 0% 100%;

    --radius: 1rem;
    
    --nav-hover: 208 30% 60%;
    --nav-active: 0 0% 100%;
    --nav-active-bg: 0 0% 100%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 208 34% 68%;
    --foreground: 0 0% 100%;

    --card: 208 34% 68%;
    --card-foreground: 0 0% 100%;

    --popover: 208 30% 75%;
    --popover-foreground: 0 0% 100%;

    --primary: 208 34% 68%;
    --primary-foreground: 0 0% 100%;

    --secondary: 208 30% 60%;
    --secondary-foreground: 0 0% 100%;

    --muted: 208 30% 75%;
    --muted-foreground: 0 0% 95%;

    --accent: 0 0% 100%;
    --accent-foreground: 208 34% 30%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
